<!DOCTYPE html>
<html lang="en" data-theme="cyberpunk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact page</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="min-h-screen bg-base-100">
    <%- include('partial/header' , { page: '/lm_lms'})-%>

    
</body>