<!DOCTYPE html>
<html lang="en" data-theme="cyberpunk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="min-h-screen bg-base-100">
    <%- include('partial/header' , { page: '/service'})-%>
    
    <header  class="banners">
    <img src="Asseta/desk.jpg" alt="banner">
    </header>

  <main>
    <section class="introsection">
      <h1>What We Do</h1>
      <p>Discover our products and the impact they make. Whether you're looking for innovation, sustainability, or top-tier performance—we've got you covered.</p>
    </section>

    <section class="producthighlights">
      <h2>Our Featured Products and services</h2>
      <div class="productgrid">
        <article class="productcard">
          <img src="Asseta/wireframe.jpg" alt="Product 1">
          <h3>Brand strategy</h3>
          <p>Ceating a unique brand website to help businesses by integrating brand's core values
            is what we do.For us, identity means clarity. Every visual touchpoint, from layouts to 
            language, is designed to reflect purpose and evoke connection. By grounding identity in
             authenticity and intuition, we build brands that feel human, memorable, and unmistakably stargaziin brand.
          </p>
          <a href="#">Learn More</a>
        </article>

        <article class="product-card">
          <img src="Asseta/tablet.jpg" alt="Product 2">
          <h3>Visual identity</h3>
          <p>At stargaziin Creative, our logo design process begins with discovery.
             We dive into a brand’s history, audience, values, and ambitions to 
             uncover what makes it unique. From there, we craft visual identities
              that are simple yet expressive, intentional yet adaptable.
            </p>
          <a href="#">Learn More</a>
        </article>
        

        <!-- Add more product cards as needed -->
      </div>
    </section>

    <section class="cta">
      <h2>Ready to Make a Move?</h2>
      <p>Let’s help you find the right identity for your business.</p>
      <a href="contact" class="cta-button">Contact Us</a>
    </section>
  </main>

  <section class="newsletter-section">
    <h2>Subscribe to Our Newsletter</h2>
    <p>Get the latest updates, insights, and offers delivered straight to your inbox.</p>
    <a href="/newsletter">link to newsletter page</a>
  </section>



    <%- include('partial/footer' , { page: '/service'})-%>
</body>
</html>
