<div class="navbar bg-primary text-primary-content">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="/" class="<% if (page === '/') {%>text-accent font-bold<%}%>">Home</a></li>
        <li><a href="/about" class="<% if (page === '/about') {%>text-accent font-bold<%}%>">About</a></li>
        <li><a href="/contact" class="<% if (page === '/contact') {%>text-accent font-bold<%}%>">Contact</a></li>
        <li><a href="/profile" class="<% if (page === '/profile') {%>text-accent font-bold<%}%>">Profile</a></li>
        <li><a href="/datapage" class="<% if (page === '/datapage') {%>text-accent font-bold<%}%>">Data Page</a></li>
        <!-- <li><a href="/service" class="<% if (page === '/service') {%>text-accent font-bold<%}%>">Services</a></li> -->
        <li><a href="/newsletter" class="<% if (page === '/newsletter') {%>text-accent font-bold<%}%>">Newsletter</a></li>
        <!-- <li>
          <a>Parent</a>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li> -->
      </ul>
    </div>
    <a class="btn btn-ghost text-xl">Web Project</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/" class="<% if (page === '/') {%>btn-accent<%} else {%>btn-ghost<%}%>">Home</a></li>
      <li><a href="/about" class="<% if (page === '/about') {%>btn-accent<%} else {%>btn-ghost<%}%>">About</a></li>
      <li><a href="/contact" class="<% if (page === '/contact') {%>btn-accent<%} else {%>btn-ghost<%}%>">Contact</a></li>
      <li><a href="/profile" class="<% if (page === '/profile') {%>btn-accent<%} else {%>btn-ghost<%}%>">Profile</a></li>
      <li><a href="/datapage" class="<% if (page === '/datapage') {%>btn-accent<%} else {%>btn-ghost<%}%>">Data Page</a></li>
      <!-- <li><a href="/service" class="<% if (page === '/service') {%>btn-accent<%} else {%>btn-ghost<%}%>">Services</a></li> -->
      <li><a href="/products" class="<% if (page === '/products') {%>btn-accent<%} else {%>btn-ghost<%}%>">Products</a></li>
      <li><a href="/newsletter" class="<% if (page === '/newsletter') {%>btn-accent<%} else {%>btn-ghost<%}%>">Newsletter</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn btn-accent">Welcome!</a>
  </div>
</div>


