<hr>
<a href="/" <% if (currentPath === "/") {%> class = "active"<%}%>>Home</a>|
<a href="/about" <% if (currentPath === "/about") {%> class = "active"<%}%>>About</a>|
<a href="/contact" <% if (currentPath === "/contact") {%> class = "active"<%}%>>Contact</a>|
<a href="/datapage" <% if (currentPath === "/datapage") {%> class = "active"<%}%>>Datapage</a>|
<a href="/profile" <% if (currentPath === "/profile") {%> class = "active"<%}%>>profile</a>|
<hr/>


